@*@model Pet

<div class="row">
    <div class="col-md-12">

        @foreach (var pet in Model.Categoria.Pets)
        {
            <div class="col-3">
               <img src ="@pet.ImagemUrl" />
                <p>Nome: @pet.Nome</p>
                <p>Idade: @pet.Idade ano(s)</p>
                <p>Valor Pretendido: @pet.ValorEsperado.ToString("c")</p>
                <p>Valor Esperado: @pet.ValorRecebido.ToString("c")</p>
            </div>
        }
    </div>

</div>*@